//- Variables 
- var limit = 10
- var n = 0

doctype html
html( lang="en" )
  head
    title Atan - Simple personalisable lazyloading library
    link( rel="stylesheet", href="./css/sass/main.css" )
    
  body
    h1 Atan
    p Simple personalisable lazyloading library.
    
    section
        h2 With mouse over
        img.over( 
            src="http://bert.art.yale.edu/~yotamhadar/loading/Loading-3.gif", 
            alt="Image displayed on over", 
            data-src="https://source.unsplash.com/category/people/800x300" )
    
    section
        h2 On click
        img.click( 
            src="http://bert.art.yale.edu/~yotamhadar/loading/Loading-3.gif", 
            alt="Image displayed on click", 
            data-img="https://source.unsplash.com/random/800x300" )
    
    section
        h2 On scroll
        - for (var x = 1; x < 11; x++)
            img.scroll( 
                src="http://bert.art.yale.edu/~yotamhadar/loading/Loading-3.gif", 
                alt="Image displayed on scroll",
                data-scroll="./img/#{x}.jpg" )
    
    script( src="./js/atan.js" )
    script( src="./js/main.js" )
